.parallax {
  background-attachment: fixed;
  background-size: 100vw auto !important;
  height: 38vw;
  width: 100vw;
  background-position-y: 50px !important;
}

@media screen and (max-width: 768px) {
  .parallax {
    background-attachment: initial;
    background-size: 100vw auto !important;
    height: 38vw;
    width: 100vw;
    background-position-y: initial !important;
  }
}

.span-inline-block span {
  display: inline-block;
}

.pricing {
  margin-bottom: 1rem;
  p {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
  }
  .price {
    font-size: 200%;
    background: linear-gradient(transparent 80%, #FFFF00 0%);
  }
  .unit {
    font-size: 150%;
  }
  .shipping-notice {
    line-height: 70%;
    font-size: 70%;
  }
}

.paypal-buttons {
  form {
    overflow: hidden;
    float: right;
    margin-bottom: 1rem;
  }
  form + hr {
    clear: both;
  }
}

h1 {
    margin-top: 2rem;
}

h2 {
    margin-top: 2rem;
}

.large {
  font-size: large;
}

// table-like figure
figure.table {
  display: table;
  figcaption {
    display: table-caption;
    caption-side: top;
  }
}
