.parallax {
  background-attachment: fixed;
  background-size: 100vw auto !important;
  height: 38vw;
  width: 100vw;
  background-position-y: 50px !important;
}

@media screen and (max-width: 768px) {
  .parallax {
    background-attachment: initial;
    background-size: 100vw auto !important;
    height: 38vw;
    width: 100vw;
    background-position-y: initial !important;
  }
}

.span-inline-block span {
  display: inline-block;
}

h1 {
    margin-top: 2rem;
}

h2 {
    margin-top: 2rem;
}
