.parallax {
  background-attachment: fixed;
  background-size: 100vw auto;
  height: 38vw;
  width: 100vw;
  background-position-y: 50px;
}

@media screen and (max-width: 768px) {
  .parallax {
    background-attachment: initial;
    background-size: 100vw auto;
    height: 38vw;
    width: 100vw;
  }
}

